.l-content-wrap {
	width: 100%;
}
.l-content {
	width: 1322px; 
	margin: 0 auto;
	margin-top:50px;
	margin-bottom:100px;
	border: 1px solid black;
}

#container_header {
	width: 1320px;
	height: 80px;
	margin:0px;
	padding:0px;
	line-height: 80px;
}

#b_header_line {
	margin:0px;
	padding:0px;
	line-height: 80px;
	
}
.b_header_line_1
{
	width: auto;
	height: auto;
	border:0px;
	margin-top:15px;
	margin-right: 80px;
}
.b_header_line_2,
.b_header_line_3,
.b_header_line_4,
.b_header_line_5,
.b_header_line_6 {
	padding: 0px;
	color: #4F6259;
	font-size: 18px;
	font-family: Open Sans;
	text-decoration: none;
	width: auto;
	height: auto;
	border:0px;
	margin-top:25px;
	margin-right: 35px;
	text-decoration: none !important;
}
.b_header_line_7{
	margin: 22px 0px 0 40px;
	border:0px;
}
.btn-danger {
	font-size: 16px;
	font-weight:bold;
	background-color: #ED3E45;
}
.btn-danger:hover {
	background-color: #ED3E45;
}
.b_header_line_8 {
	float: right;
	margin:0;
	padding: 0;
	width: 80px;
	height: 80px;
	background-color: #D7D8DD;
	text-align:  center;
	line-height: 80px;
	color: #4A5269;
	font-size: 18px;
	font-family: open sans;
	font-weight: bold;
	border-radius: 0;
}


.b-main_top{
	width: 1320px;
	height: 750px;
	background-image: url('images/bg-main-top_1.png')
}
#container_0 {
	padding: 0 ;
	margin:0;
	width: 1320px;
}

.b_top_text_line_1 {
	margin-top:140px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: open sans;
	font-weight:lighter;
	text-align: center;
}
.b_top_text_line_2 {
	padding-top:45px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: open sans;
	text-align: center;
	margin-bottom:110px;
}
.top_text_button_1 {
	margin:0 50px 0 415px; 
	height: 50px;
	padding: 0;
	border:0;
	line-height:50px;
}
.top_text_button_2 {
	width: 50px;
	height: 50px;
	margin:0;
	padding: 0;
	line-height:50px;
	background-color: #5A6771;
	border: none;
	border-radius: 4px 0 0 4px;
}
.top_text_button_3 {
	width: 235px;
	height: 50px;
	line-height:50px;
	text-align: center;
	margin:0;
	padding: 0;
	border-left: 3px solid #757E85;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 50px;
	font-family: open sans;
	font-weight: Bold;
	background-color: #5A6771;
	border-radius: 0 4px 4px 0;
}

#container_1 {
	width:auto;
	margin: 136px 110px 0px 110px;
	padding:0px;
}
.first_t {
	height: 420px;
	width: 1100px;
	 box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

#first_t_header {
	color: #FFFFFF;
	font-size: 16px;
	font-family: open sans;
	margin-left:0px;
	margin-right:0px;
}

.header-l {
	background-color:#ED3E45;
	height:110px;
	width:550px;
	padding: 50px 0 0 30px;
	margin: 0;
}
.header-r {
	background-color:#5A6771;
	height:110px;
	width:550px;
	padding: 50px 0 0 30px;
	margin: 0;
	border-left: 0,5px solid black;
}

#first_t_body {
	color: #4F5269;
	font-size: 16px;
	font-family: open sans;
	margin-left:0px;
	margin-right:0px;
}
.first_t_body_l,
.first_t_body-lm,
.first_t_body-rm,
.first_t_body-r	{
	background-color:#FFFFFF;
	width: 275px;
	padding-bottom: 15px;
	padding-left:30px;
}
.first_t_body-rm {
	border-left: 1px solid #F7F7F8
}
.first_t_body-lm {
	padding-right: 0;
}
.first_line {
	padding-top: 35px;
}
#first_t_bottom {
	font-size: 16px;
	font-family: open sans;
	font-weight: bold;
	margin-left:0px;
	margin-right:0px;
}
.first_t_bottom_l {
	height: 50px;
	width: 340px;
	color: #ED3E45;
	border: 1px solid #ED3E45;
	margin: 15px 89px 0px 30px;
	padding-top: 15px;
	padding-left:0px;
}
.t_free_mid {
	height: 90px;
	border-right: 1px solid #F7F7F8
}
.first_t_bottom_r {
	height: 50px;
	width: 307px;
	color: #5A6771;
	border: 1px solid #5A6771;
	margin: 15px 0px 0px 30px;
	padding-top: 15px;
	padding-left:0px;
}
.b_main_mid {
	margin-top: 325px;
	margin-bottom: 55px;
}
#mid_text {
	margin: 0px;
}
.mid_text_t {
	color: #ED1C24;
	font-size: 26px;
	font-family: open sans;
	margin-bottom:10px;
	padding-left: 0px;
}
.mid_text_b {
	color: #4F5269;
	font-size: 20px;
	font-family: open sans;
	padding-left: 0px;
	margin-bottom: 90px;
}
#container_2{
	width:1320px;
	margin: 0px 0px 90px 0px;
	padding:0px;
	
}
#second_t_top {
	width:1320px;
	margin: 0px;
}
.second_t_top_l{
	height: 220px;
	width: 550px;
	color: #5A6771;
	font-size: 36px;
	font-family: open sans;
	padding: 55px 0 0 110px;
	
}
.second_t_top_m ,
.second_t_top_r,
.second_t_mid_m,
.second_t_mid_r,
.second_t_bottom_m,
.second_t_bottom_r{
	padding: 0px;
}
#second_t_mid {
	margin: 0px;
}
.second_t_mid_l {
	height: 220px;
	background-color: #ED3E45;
	color: #FFFFFF;
	font-size: 20px;
	font-family: open sans;
	padding-top:55px;
	padding-left: 110px;
	margin:0px;
}
.colortext {
	color:#EC0928;
}
#second_t_bottom {
	margin: 0px;
}
.second_t_bottom_l {
	height: 55px;
	width: 268px;
	color: #ED3E45;
	border: 1px solid #ED3E45;
	margin: 75px 172px 0px 110px;
	padding-top: 15px;
	padding-left:0px;
}
#mid_text_b {
	margin: 0px;
}
.mid_text_b_t {
	color: #5A6771;
	font-size: 36px;
	font-family: open sans;
	margin-bottom:10px;
	padding-left: 0px;
}
.mid_text_b_b {
	color: #5A6771;
	font-size: 20px;
	font-family: open sans;
	padding: 0px;
	margin-bottom: 90px;
}
.mid_text_b_b_r {
	padding-left: 110px;
}
#container_3{
	width:1320px;
	margin: 0px 0px 85px 0px;
	padding:0px;
}
#third_t_t{
	width:1320px;
	margin: 0px;
	padding:0px;
}
#third_t_b{
	width:1320px;
	margin: 0px;
	padding:0px;
}
.third_t_t_1,
.third_t_t_2,
.third_t_t_3,
.third_t_t_4,
.third_t_t_5,
.third_t_b_1,
.third_t_b_2,
.third_t_b_3,
.third_t_b_4,
.third_t_b_5 {
	padding:0px;
}
.third_t_t_2 {
	margin-bottom: -205px;
}
.third_t_t_5 {
	height: 196px;
	background-color: #555E76;
}
.third_t_b_3 {
	height: 205px;
	color: #FFFFFF;
	font-family: open sans;
	text-align: center;
	background-color: #ED3E45;
	padding-top: 45px;
	font-size: 18px;
}
.third_t_b_3_text { 
	font-size: 48px;
}
.third_t_t_4 {
	height: 196px;
	color: #FFFFFF;
	font-family: open sans;
	text-align: center;
	background-color: #4A5269;
	font-size: 18px;
	padding-top: 55px;
}
.third_t_b_4 {
	height: 205px;
	color: #FFFFFF;
	font-family: open sans;
	text-align: center;
	background-color: #D73E45;
	font-size: 18px;
	padding-top: 35px;
}
#mid_buttons {
	margin: 0px 0px 75px 0px;
	padding:0px;
	
}
.mid_buttons_l {
	height: 55px;
	width: 257px;
	color: #424D5A;
	border: 1px solid #424D5A;
	margin-left: 110px;
	margin-right: 23px;
	padding-top:15px;
	font-size: 16px;
	font-family: open sans;
}
.mid_buttons_r {
	height: 55px;
	width: 233px;
	color: #ED3E45;
	border: 1px solid #ED3E45;
	padding-top:15px;
	font-size: 16px;
	font-family: open sans;
}
#line_buttons {
	margin: 0px 10px 45px 110px;
}
.line_buttons_{
	border-top: 1px solid #F2F2F2;
	padding:0;
}
#mid_text_b{
	margin: 0px 0px 50px 0px;
}
.mid_text_b_{
	color: #5A6771;
	font-size: 36px;
	font-family: open sans;
	margin-left:110px;
	padding: 0;
}
#container_4{
	width: 1320px;
	margin:0px 0px 40px 110px;
	padding:0;
}
#fourth_t {
	width: 1320 px;
	margin: 0 0 0 0;
}
.fourth_t_1,
.fourth_t_2,
.fourth_t_3,
.fourth_t_4 {
	border:1px solid #F2F2F2;
	height: 290px;
	width: 330px;
	padding:55px 0px 0px 30px;
	font-size: 16px;
	font-family: open sans;
}
.fourth_t_1{

}
.fourth_t_2{
	background-image: url('images/fourth_t_2_1.png')
}
.colortext_red {
	color:#EC0928;
	font-size:13px;
}
.colortext_gray {
	color: #EDEDED;
	font-size:13px;
	padding-top:55px;
}
.fourth_t_1_2 {
	color: #FFFFFF;
	margin-top: 55px;
}
.b_mid_bottom {
	margin:0px 0px 0px 110px;
}
.b_bottom {
	height:520px;
	background-color: #444D52;
}

.b_bottom_t_title {
	color: #FFFFFF;
	font-size: 38px;
	font-family: Myriad Pro;
	font-weight: 100;
	margin-top: 50px;
	margin-bottom: 5px;
}
.b_bottom_t_title_2 {
	color: #75797E;
	font-size: 23px;
	font-family: Myriad Pro;
	font-weight: 100;
}
.b_bottom_t_1_l,
.b_bottom_t_1_r,
.b_bottom_t_2_l,
.b_bottom_t_2_r,
.b_bottom_t_3_l,
.b_bottom_t_3_r,
.b_bottom_t_4_l,
.b_bottom_t_4_r 
{
	padding: 20px;
	height:auto;
	width: auto;
}
/*
{
	background-color:#444D52;
	width: 290px;
	padding:0px;
	
}
.text {
	border-bottom: 1px solid #75797E;
	padding: 5px;
	background-color:#444D52;
}

*/
.b_bottom_button_l {
	height: 50px;
	width: 160px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	font-size: 16px;
	font-family: Myriad Pro;
	font-weight:bold;
	margin: 15px 0 0 310px;
	padding: 10px 0 0 0px;
}
.b_bottom_button_r {
	height: 50px;
	width: 160px;
	color: #75797E;
	font-size: 16px;
	font-family: Myriad Pro;
	margin: 40px 0 0 130px;
}


#bottom_line {
	margin: 0px;
	text-align: center;
	line-height: 80px;
}
.b_bottom_line_1 {
	background-color: #525B62;
	height:80px;
	width: 680px;
	color: #85878D;
	font-size: 16px;
	font-family: Myriad Pro;
}
.b_bottom_line_2{
	background-color: #4C545C;
	height:80px;
}
.b_bottom_line_3 {
	background-color: #485057;
	height:80px;
}
.b_bottom_line_4 {
	background-color: #444B52;
	height:80px;
	width: 105px;
}
.b_bottom_line_5 {
	background-color: #3F464D;
	height:80px;
	width: 105px;
}
.b_bottom_line_6 {
	background-color: #3B4247;
	height:80px;
	width: 105px;
}
.b_bottom_line_7 {
	background-color: #373D42;
	height:80px;
	width: 105px;
}









